{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<h1>Changement de mot de passe</h1>
<div class="formTwig">

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.submit, { 'label': 'Soumettre' }) }}
    {{ form_end(form) }}
</div>
{% endblock %}
