{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>Page de gestion de compte</h1>
    <div class="success">
        {%  if is_granted('ROLE_ADMIN') %}
            <p>Vous aurez accés ici, à toute la gestion de la franchise, de ses structures ainsi que de leurs bâtiments.</p>
            <div class="identifiants">
                <h5>Vos identifiants </h5>
                    <ul>
                        <li>{{ app.user.email }}</li>
                        <li>{{ app.user.name }}</li>
                    </ul>
                    <button type="button" class="buttonSend"><a href="{{ path('app_change_password') }}">Changement du mot de passe</a></button>
            </div>
            <br>
            <div class="identifiants">
                <button type="button" class="buttonSend"><a href="{{ path('app_register') }}">Enregistrement nouvel admin</a></button>
                <h5>Vous souhaitez agrandir votre équipe ?  </h5>
            </div>
            <br><br>
            <h4>Ajout </h4>
            <div class="successButton">
                <button type="button" class="buttonSend"><a href="{{ path('app_add_partenaire') }}"> Ajout  franchise </a></button>
                <button type="button" class="buttonSend"><a href="{{ path('app_add_structure') }}"> Ajout  Structure </a></button>
                <button type="button" class="buttonSend"><a href="{{ path('app_add_permission') }}"> Ajout Bâtiment </a></button>
            </div>
            <h4>Modification</h4>
        <div class="successButton">
            <button type="button" class="buttonSend"><a href="{{ path('app_update_partenaire', {'id': 1}) }}">Modification  Garde la patate</a></button>
            <button type="button" class="buttonSend"><a href="{{ path('app_liste_structure') }}"> Modification  structure </a></button>
            <button type="button" class="buttonSend"><a href="{{ path('app_liste_permissions') }}"> Modification  bâtiment </a></button>
        </div>
            <h4>Suppression</h4>
            <div class="successButton">
                <button type="button" class="buttonSend"><a href="{{ path('app_update_partenaire', {'id': 1}) }}">Suppression  Garde la patate</a></button>
                <button type="button" class="buttonSend"><a href="{{ path('app_liste_structure') }}"> Suppression structure </a></button>
                <button type="button" class="buttonSend"><a href="{{ path('app_liste_permissions') }}"> Suppression  bâtiment </a></button>
            </div>
            <h4>Permissions Globales</h4>

        <div class="successButton">
            <button type="button" class="buttonSend"><a href="{{ path('app_permission_globale')}}">Accés</a></button>
        </div>
    {% else %}
    {% endif %}
</div>
{% endblock %}
