{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Page de gestion de compte</h1>

    <div class="success">
    {% if app.user %}
        {%  if is_granted('ROLE_ADMIN') %}
            <h4>Identifiants : </h4>
            <div class="identifiants">
            <ul>
                <li>{{ app.user.email }}</li>
                <li>{{ app.user.name }}</li>
            </ul>
            </div>
            <div class="changePassword">
                <button type="button" class="buttonSend"><a href="{{ path('app_change_password') }}">Changement du mot de passe</a></button>
            </div>

            <h4>Ajout</h4>

            <div class="successButton">
                <button type="button" class="buttonSend"><a href="{{ path('app_add_partenaire') }}"> Ajout d'une franchise </a></button>

                <button type="button" class="buttonSend"><a href="{{ path('app_add_permission') }}"> Ajout d'un Bâtiment </a></button>
                <button type="button" class="buttonSend"><a href="{{ path('app_add_structure') }}"> Ajout d'une Structure </a></button>
            </div>

            <h4>Modification</h4>
        <div class="successButton">

            <button type="button" class="buttonSend"><a href="{{ path('app_liste_permissions') }}"> Modification d'un bâtiment </a></button>








        </div>
        {% elseif is_granted('ROLE_PARTENAIRE') %}
            <p>partenaire</p>
        {% elseif is_granted('ROLE_PERMISSION') %}
            <p>permission</p>
        {% endif %}
    {% else %}
    {% endif %}





</div>
{% endblock %}
