{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<h1>Ajout du bâtiment</h1>

<div class="formTwig">

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.send_newsletter, { 'label': 'Envoyer des newsletters ' }) }}
    {{ form_row(form.sell_drink, { 'label': 'Vendre des boissons' }) }}
    {{ form_row(form.payment_stats, { 'label': 'Statistiques de paiments' }) }}
    {{ form_row(form.add_members, { 'label': 'Ajouter membres ' }) }}
    {{ form_row(form.recrut_employee, { 'label': 'Recruter des employés' }) }}
    {{ form_row(form.activated_website, { 'label': 'Site disponible' }) }}
    {{ form_row(form.place_search, { 'label': 'Recherche d\'un nouveau lieux' })  }}
    {{ form_row(form.restaurant_site, { 'label': 'Restaurant sur place' })  }}
    {{ form_row(form.renovation, { 'label': 'Renauvation à faire ? ' })  }}
    {{ form_row(form.available_coach, { 'label': 'Coach disponible ? ' })  }}
    {{ form_row(form.street, { 'label': 'Rue du bâtiment : ' })  }}
    {{ form_row(form.branch_id, { 'label': 'Appartient à la structure : ' })  }}
    {{ form_row(form.isActive, { 'label': 'Bâtiment déjas en activitée ? '}) }}
    {{ form_row(form.submit, { 'label': 'Envoyer' }) }}
    {{ form_end(form) }}

</div>
{% endblock %}
