<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SDS Layout{% endblock %}</title>
        <link rel="icon"
              href="{{ asset('picture/logo-marque/favicon-round.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script>
                function showConfirm() {
                    var confirmation = confirm("Voulez vous faire cette action?");
                    if (confirmation === true) {
                        alert("vous avez cliqué OK");
                        return true;
                    } else {
                        alert("Opération annulée");
                        return false;
                    }
                }
            </script>

        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-dark navbar-expand-lg  bg-dark">
        <a class="navbar-brand text-white" href="{{ path('app_home') }}">
            <img src="{{ asset('picture/logo-marque/dark-boot-icon.png') }}" width="150" height="140" alt="Logo du site">
        </a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#barMenu"
                aria-controls="barMenu"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon btn-close-white"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="barMenu">
            <ul class="navbar-nav ">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Liste
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('app_liste_structure') }}">De nos Structures</a>
                        <a class="dropdown-item" href="{{ path('app_liste_permissions') }}">De nos Bâtiments</a>
                    </div>
                </li>
                <li class="nav-item">
                {% if app.user %}
                <a class="nav-link text-white" href="{{ path('app_logout') }}">Deconnexion</a>
                </li>
                    {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Connexion
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('app_login') }}">Administrateur (L’équipe tech.)</a>
                        <a class="dropdown-item" href="{{ path('app_login_partenaire') }}">Client (Gérants des franchises)</a>
                        <a class="dropdown-item" href="#">Directeur (Gérants des bâtiments)</a>
                    </div>
                </li>
                {% endif %}
                <li class="nav-item">
                    {% if app.user %}
                        <a class="nav-link text-white" href="{{ path('app_profil', { 'id' : app.user.id}) }}">Mon compte</a>
                    {% else %}
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
{% block body %}    {% endblock %}
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="text-muted">© 2021 Company, Inc</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-white text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
    </footer>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    </body>
</html>
