<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SDS Layout{% endblock %}</title>
        <link rel="icon"
              href="{{ asset('picture/logo-marque/favicon-round.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script>
                function showConfirm() {
                    var confirmation = confirm("Voulez vous faire cette action?");
                    if (confirmation === true) {
                        alert("vous avez cliqué OK");
                        return true;
                    } else {
                        alert("Opération annulée");
                        return false;
                    }
                }
            </script>

        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-dark navbar-expand-lg  bg-dark">
        <a class="navbar-brand text-white" href="{{ path('app_home') }}">
            <img src="{{ asset('picture/logo-marque/dark-boot-icon.png') }}" width="150" height="140" alt="Logo du site">
        </a>

        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#barMenu"
                aria-controls="barMenu"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon btn-close-white"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="barMenu">
            <ul class="navbar-nav ">
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Liste
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                {% if app.user.roles == ['ROLE_ADMIN'] %}
                                    <a class="dropdown-item" href="{{ path('app_liste_structure') }}">De nos Structures</a>
                                    <a class="dropdown-item" href="{{ path('app_liste_permissions') }}">De nos Bâtiments</a>
                                {% elseif app.user.roles == ['ROLE_PARTENAIRE'] %}
                                    <a class="dropdown-item" href="{{ path('app_liste_structure_partenaire') }}">De nos Structures</a>
                                    <a class="dropdown-item" href="{{ path('app_liste_permissions_partenaire') }}">De nos Bâtiments</a>
                                {% else %}
                                {% endif %}
                        </div>
                    </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Liste
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('app_liste_structure_partenaire') }}">De nos Structures</a>
                        <a class="dropdown-item" href="{{ path('app_liste_permissions_partenaire') }}">De nos Bâtiments</a>
                    </div>
                </li>
                {% endif %}
                <li class="nav-item">
                {% if app.user %}
                <a class="nav-link text-white" href="{{ path('app_logout') }}">Deconnexion</a>
                </li>
                    {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Connexion
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('app_login') }}">Administrateur</a>
                        <a class="dropdown-item" href="{{ path('app_login_partenaire') }}">Gérants Structures</a>
                        <a class="dropdown-item" href="#">Gérants Bâtiment</a>
                    </div>
                </li>
                {% endif %}

                <li class="nav-item">
                    {% if app.user %}
                        {% if app.user.roles == ['ROLE_ADMIN'] %}
                            <a class="nav-link text-white" href="{{ path('app_profil', { 'id' : app.user.id}) }}">Mon compte</a>
                        {% elseif app.user.roles == ['ROLE_PARTENAIRE'] %}
                            <a class="nav-link text-white" href="{{ path('app_profil_partenaire', { 'id' : app.user.id}) }}">Mon compte</a>
                        {% elseif app.user.roles == ['ROLE_PERMISSION'] %}
                            <a class="nav-link text-white" href="#">Mon compte</a>
                        {% else %}
                        {% endif %}
                    {% else %}
                    {% endif %}
                </li>

            </ul>
        </div>
    </nav>
{% block body %}    {% endblock %}
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="footerMid">
            <img src="{{ asset('picture/logo-marque/logo-login.svg') }}" alt="logo studi+" height="30%" width="80%">
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <a href="/" class=" text-muted">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="text-muted"><b><i>Dantabase, ECF Studi+</i></b></span>
        </div>

        <div class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <img src="{{ asset('picture/logo-marque/dark-boot-marque.png') }}" alt="Logo de l'entreprise" height="30%" width="80%">
        </div>
    </footer>
</div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    </body>
</html>






