{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<div class="panel">
    <img src="{{ asset('picture/logo-marque/dark-boot-marque.png') }}" alt="Image principale d'acceuil">
        <p>Dantabase, entreprise implantée dans les solutions de <b>gestion en ligne d'entreprise</b>, s'est spécialisé dans la gestion des franchises.
            implantée depuis 1988, elle donne accés à la gestion de votre franchise à votre équipe technique,  afin de faciliter leur organisation au niveau
            national!
            Si vous désirez vous faciliter la <b>vie</b>, gagner du <b>temps</b> ainsi que de <b>l'argent</b>, cette application est faite pour vous.
        </p>
    {% if app.user %}
        <button style="width: 250px; height: 130px;" type="button" class="buttonSend">
            <a href="{{ path('app_profil', { 'id': user.id }) }}">Accés à mon Compte
            </a>
        </button><br>
        {% else %}
    {% endif %}
    <div class="barreHorizontale" style="width: 50%;"></div>
        <h1>Votre sociétée : </h1>
    <div class="tableEntreprise">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" id="lienInterne1">Nom de la franchise :  </th>
                    <th scope="col" style="font-size: xxx-large"><u>{{ partenaire.clientName }}</u></th>
                </tr>
            </thead>
        <tbody>
            <tr>
                <th>Entreprise active ? </th>
                <th> {{ partenaire.active }}</th>
            </tr>
            <tr>
                <th>Description rapide  </th>
                <th> {{ partenaire.shortDescription }}</th>
            </tr>
            <tr>
                <th>Descirption complète </th>
                <th>{{ partenaire.fullDescription }}</th>
            </tr>
            <tr>
                <th>Logo </th>
                <th>    <img src="{{ asset('picture/recipe-picture/' ~ partenaire.getLogo()) }}" alt="Image du logo de l'entreprise">
                </th>
            </tr>
            <tr>
                <th>Site de l'entreprise</th>
                <th>{{ partenaire.url }}</th>
            </tr>
            <tr>
                <th>Politique de confidentialitée</th>
                <th>  {{ partenaire.dpo }}</th>
            </tr>
            <tr>
                <th>Numero du technicien </th>
                <th><a href="tel:0606060606"> {{ partenaire.technicalContact }}</a></th>
            </tr>
            <tr>
                <th>Numero du commercial</th>
                <th> <a href="tel:0607070707">{{ partenaire.commercialContact }}</a></th>
            </tr>
            <tr>
                <th>Nombre de structure possédées</th>
                <th> <a href="{{ path('app_liste_structure') }}">{{ partenaire.structures.count }}</a></th>
            </tr>
            <tr>
                <th>Nombre de bâtiments possédés en France</th>
                <th> <a href="{{ path('app_liste_permissions') }}">{{ permission }}</a></th>
            </tr>
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
